@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
         

    h1{
        color: rgb(24, 27, 27);
        font-size: 8rem;
        animation: typingEffectAnimation 1.5s steps(50,end);
        line-height: 10rem;
        position: relative;
        overflow:hidden;
        white-space:nowrap;
    }
    @media only screen and (max-width : 550px) { 
        .animation{
        font-size: 1.5rem;
        line-height: 5rem;
        }
    }
    @media only screen and (min-width : 551px){
        .animation{
        font-size: 3rem;
        line-height: 6rem;
        }
    }
    @media only screen and (min-width: 769px) and (max-width:990px){
        .animation{
        font-size: 6rem;
        line-height: 8rem;
        }
    }
    @keyframes typingEffectAnimation {
        from{
            width: 0;
        }
        to{
            width: 750px;
        }
    }


.circle {
  position: relative;
  width: 350px;
  height: 350px;
  background: radial-gradient(180px, var(--lime-500), transparent 90%);
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.icon-container {
  position: relative;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  animation: rotate 6s linear infinite; 
  width: 50px;
  height: 50px;
}

.icon {
  display: block;
  width: 50px;
  height: 50px;
  /* margin: 10px; */
  color: var(--lime-700);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
}

@keyframes rotate {
  0% {
    transform:  rotate(0deg);
  }
  100% {
    transform:  rotate(360deg);
  }
}
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
}

.progress {
  height: 100%;
  background-color: green;
  border-radius: 5px;
}

}